<input placeholder="Title" type="text" name="title" value="<%= book.title %>">

<div class="form-item">
<label>Author</label>
    <select name="author">
        <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
        <% }) %>
    </select>
</div>

<div class="form-item">
    <label>Publish date</label>
    <input type="date" name="pubDate" value="<%= book.pubDate == null ? '' : book.pubDate.toISOString().split('T')[0] %>">
</div>

<div class="form-item">
    <label>Page count</label>
    <input type="number" name="pageCount" value="<%= book.pageCount %>" min="1">
</div>